body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}
/* .nav{ */
  
/* } */
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.nav li:last-child {
  padding-right: 0;
  margin-right:0px
}
.nav li:hover {
  background-color:#e2e8f0;
  /* text-decoration: underline; */
  color:cornflowerblue;
}
ul {
  padding-left: 0;
  margin: 1px;
}

li {
    list-style-type: none;
  text-decoration: none;
   margin-top:auto;
   margin-bottom:auto;
   border: 1px #fff solid;
   border-radius: 1rem;
  background-color:#fff;
   padding:4px;
   margin-right:auto;
   margin-left:auto;
}
.nav{
  border: 1px rgb(177, 177, 177) solid;
  border-radius: 25px;  
  margin:0px auto;
  padding:0px;
  width:100%;
  padding-inline-start:1rem;
  padding-inline-end:1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  display:flex;
  flex-direction: column;
  -webkit-box-align:center;
  align-items:left;
  position:sticky;
  top:0px;
  z-index:10;
  box-shadow:rgb(0 0 0 / 20%) 0px 2px 4px;
  backdrop-filter:saturate(180%) blur(20px);
  transition: box-shadow 0.3s ease-in-out 0s;
}
.nav::before,.nav::after{
  border-color:#e2e8f0;
  overflow-wrap:break-word;
  border-width:0px;
  border-style: solid;
  box-sizing: border-box;
  line-height: 1.5;
}
.hide {
  display: none;
}
.hide ~ .my-nav:hover {
  display: block;
  color: red;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  

}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
  z-index: 10;
  width: 100px;
  transition: width 2s;
}

.handle{
  color: #697784;
}
.upperimg{
  z-index: 99 !important;
}
.mya{
  background: linear-gradient(to right, #5e5c5caf 1%, transparent 100%);
  border-radius: 1em;
  padding:1px;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(100px) !important;
   }
.myfield{
  border: none;
  border-radius: 1em;
  background-color: #dad7d7;
  }
.p-10p{
  margin-left: 10%;

}
.p-25p{
  margin-left: 25%;

}
.w-50p{
  width: 50%;
}
.p-10p:hover{
  background-color:#252525a4;
  color:whitesmoke;

  cursor: pointer;
}
.red{
  background-color: red !important;
  color:white !important;
}
.green{
  background-color: green !important;
  color:white !important;
}
.blue{
  background-color: blue !important;
  color:white !important;
}
.grey{
  background-color: grey !important;
  color:black !important;
}
.trans{
  top: -48%;
  }
.split {
  padding-top: 5%;
  display: flex;
  font-family: arial, sans-serif;
  flex-wrap: wrap;
  align-items: center;
}
.split-item{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px
}
@media only screen and (max-width: 600px) {
  .split-item{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  } 
    .split {
      padding-left: 0px !important;
      padding-top: 5% !important;
      display: flex;
      flex-direction: column;
      font-family: arial, sans-serif;
      flex-wrap: wrap;
      align-items: center;
    }
    .vl {
      border-left: none !important;
      border-top: 2px dashed chocolate !important;
      padding-top: 10% !important;
    padding-left: none !important;
    width: 80%;
  }
}
img:src
.vl {
  border-left: 2px dashed chocolate;
  padding-left: 10%;
}

.cursor{
  cursor: pointer !important;
}
.text{
  border: #2525258c 1px solid !important;
  width: 300px !important;
}
.text:placeholder-shown{
  color:black !important;
  background-color: beige;
}
.text:hover{
  
  background-color:  bisque;
}
.trans *{
  margin-left: 7px !important;
  margin-top: 1px !important;

}
.shrink-left{
  width:75%;
  margin: 1px;
  left: 0%;
  top: 0%;
  margin-top: 0%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 100px;
  height: fit-content;
}

.dropdown:hover .dropbtn {
  background-color: cornsilk;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: width 2s;
}


.question-card {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.result-inner-card {
  width: 80%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  /* cursor: pointer; */
  
}
.noquestion-card{
  width: 80% !important;
}
.question-card-info {
  margin: 10px;
}

/* Hacky but less typing in the video */
.question-card-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-card-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-card-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-card-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-card-icons {
  display: flex;
  align-items: center;
}
.question-card-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-card-icon {
  font-size: 27px;
  color: #697784;
}
.question-card-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question-card {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-card-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

/* form */
.close-create-contact {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('/icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-contact-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-contact-details {
  margin-left: 20px;
}
.avatar {
  min-width: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  background-size: 32px 32px;
  background-position:center center;
  background-repeat: no-repeat;
  border-radius: 50%/50%;
  object-fit: cover;
  background-clip: padding-box;
   margin: 10px; 
}

.authed-avatar {
  height: 30px;
  width: 30px;
  background-position:center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: white;
  border-radius: 50%/50%;
  margin: 0px;
  padding-top:auto;
  padding-bottom:auto;
    margin-top: auto;
  margin-bottom: auto;
  padding-right:0px;
  display: flex;
    }

.create-contact-avatar-input {
  min-width: 60px;
  height: 60px;
  background-color: white;
  background-image: url('./icons/person.svg');
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.create-contact-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.create-contact-details button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}

.App-logo {
  height: 20px;
  pointer-events: none;
  z-index: 4;
}
.logo-container{
  contain: content;
  clear: both;
}
.App-logo2 {
  height: 20px;
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top:-1pt;
  left: 4pt;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s alternate ease-in-out;
  }
  .App-logo2 {
    animation: App-logo-spin2 infinite 7s alternate-reverse ease-in-out;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
    transform-origin: 48.9% 57.8%;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 48.9% 57.8%;
  }
}
progress[value] {
  appearance: none;

  width: 250px;
  height: 20px;
}
progress:not([value]) {
    background-color: #C3392A;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.boardrow{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}
.boardcol{
  width: fit-content;
  flex-basis: content;
  align-self: center;
  margin-left: auto;
  margin-right: auto; 
}
.boardrow *:nth-child(1){
  flex-grow: 2;
}
.boardrow *:nth-child(3){
  min-width:50px;
  align-content: center;
  margin: 10px;
}

.boardrow *:nth-child(4){
  align-content: center;
  margin: 10px;
  min-width:50px;
}
.boardrow *:nth-child(2){
  flex-grow: 4;
  right: 0px;
  margin-right: 0px;
  width:50%;
}
